@model ComponentType

@{
    ViewBag.Title = "Edit Component Type";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-action="EditComponentType" asp-controller="ComponentType" enctype="multipart/form-data">
    <div class="form-group">
        <input asp-for="ComponentTypeId" hidden="hidden"/>
        <label asp-for="ComponentName"></label>
        <input asp-for="ComponentName" type="text"/>
    </div>
    
    <div class="form-group">
        <label asp-for="ComponentInfo"></label>
        <input asp-for="ComponentInfo" type="text"/>
    </div>

    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" type="text" />
    </div>

    <div class="form-group">
        <label asp-for="Datasheet"></label>
        <input asp-for="Datasheet" type="text" />
    </div>

    <div class="form-group">
        <label asp-for="Manufacturer"></label>
        <input asp-for="Manufacturer" type="text" />    
    </div>
    
    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" asp-items="@Html.GetEnumSelectList<ComponentTypeStatus>()"></select>
    </div>

    <div class="form-group">
        <label asp-for="ComponentTypeCategories"></label>
        <select asp-for="ComponentTypeCategories" asp-items="@ViewBag.CategoryCollection" name="CategoryIds" multiple="multiple"></select>
    </div>
    
    <div class="form-group">
        <label asp-for="WikiLink"></label>
        <input asp-for="WikiLink" type="text" />
    </div>
    
    <div class="form-group">
        <label asp-for="AdminComment"></label>
        <input asp-for="AdminComment" type="text" />
    </div>
    
    <div class="form-group">
        <label asp-for="Image"></label>
        @if(Model.Image?.ImageData != null)
        {
            <img src="data:image;base64,@Convert.ToBase64String(Model.Image.ImageData)" style="max-width: 300px; max-height: 300px"/>    
        }
        <input type="file" accept="image/*" name="image"/>
    </div>

    <button type="submit" class="btn btn-success" name="Button" value="Update">Done</button>
    <button type="submit" class="btn btn-danger" name="Button" value="Cancel">Cancel</button>

</form>
